<% provide(:title, "About") %>
    <h1>About</h1>
    <p>
      The <a href="http://railstutorial.org/"><em>Ruby on Rails Tutorial</em></a>
      is a <a href="http://google.nl">book</a> and <a href="http://google.nl">screencast series</a>
      to teach web development with <a href="http://google.nl">Ruby on Rails</a>
      This is the sample application for the tutorial.
    </p>
